.top-navigation-menu {
  @apply bg-gray-800 text-white p-2 grid grid-cols-3 items-center;

  a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit color from parent */
  }

  /* Style visited <a> tags */
  a:visited {
    color: inherit; /* Inherit color from parent */
  }

  /* Style <a> tags on hover */
  a:hover {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit color from parent */
  }

  &__pages {
    @apply flex space-x-4;
    grid-column: 1;
    margin: 0;
  }

  &__logo {
    @apply text-xl font-bold col-span-1 text-center;
  }

  &__account {
    @apply grid justify-self-end items-center col-span-1;
  }

  &__settings,
  &__logout {
    @apply ml-4;
  }
}

.main-navigation-menu {
  @apply text-white text-xl p-2 grid grid-cols-3 items-center;
  position: fixed;
  top: 0;
  left: 2.5%;
  z-index: 1000;
  width: 95%;
  background-color: rgba(255, 255, 255, 0);
  border-bottom: 1px white solid;
  font-family: 'Dilan';
  font-weight: 400;
  font-style: normal;

  a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit color from parent */
  }

  /* Style visited <a> tags */
  a:visited {
    color: inherit; /* Inherit color from parent */
  }

  /* Style <a> tags on hover */
  a:hover {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit color from parent */
  }

  &__pages {
    @apply flex space-x-4;
    grid-column: 1;
    margin: 0;
  }

  &__logo {
    @apply text-xl font-bold col-span-1 text-center;
  }

  &__account {
    @apply grid justify-self-end items-center col-span-1;
  }

  &__settings {
    @apply grid grid-cols-4 justify-end gap-8;
  }
  &__logout {
    @apply ml-4;
  }
}

.top-navigation-menu-link {
  @apply text-white;
  &:hover {
    color: brown;
  }
  &:visited {
    text-decoration: none;
  }
}

.top-navigation-menu-item {
  @apply flex items-center;
  &:visited {
    text-decoration: none;
  }
}

.top-navigation-menu-item:hover {
  color: brown;
}

.main-navigation-menu-link {
  @apply text-black;
  &:hover {
    color: brown;
  }
  &:visited {
    text-decoration: none;
  }
}

.main-navigation-menu-item {
  @apply flex items-center;
  &:hover {
    color: brown;
  }
  &:visited {
    text-decoration: none;
  }
}
