@use "src/styles/colors";

.application {
  overflow-y: scroll;
  background-color: colors.$application-background;
  margin: 0 !important;
  font-family: 'Dilan';
  font-weight: 400;
  font-style: normal;
  }